## Eksplorasi Data Transaksi

#### Import Libraries

In [1]:
import pandas as pd
import googlemaps

import numpy as np

import requests

import openpyxl

import matplotlib.pyplot as plt

import matplotlib.pyplot as plt
import datetime

#### Data Cleaning Distance

##### Load Data df_distance

In [ ]:
# Load the Excel file into a pandas DataFrame
df = pd.read_excel('../data/df_distance.xlsx')
df.head()

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,lat_jemput,long_jemput,lokasi_tujuan,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan
0,1,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 14:01:00,"Jl. Cigadung Raya Barat No.6, Cigadung",-6.871760,107.620055,"Rancakalong RT/RW 04/04, Cigadung",-6.822729,107.844186,2023-05-01 14:11:00,1.67,8000,150.0,Dompet,70.216
1,2,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 12:16:00,"Jl. Sukamulya, Kopo, Bojongloa Kaler",-6.936636,107.585652,"Jl. Cibogo Atas No. 148, Sukawarna",-6.882776,107.575037,2023-05-01 12:49:00,9.03,18400,150.0,Tunai,18.526
2,3,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 11:50:00,Jl. Jendral Ahmad Yani Kiaracondong,-6.904833,107.647971,"196b, Gg. Pabrik Kulit Selatan No.2",-6.939039,107.589858,2023-05-01 12:15:00,9.55,19200,150.0,Tunai,9.526
3,4,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Food,2023-05-01 11:35:00,"Gg. Irit No.14, Pasirlayung, Kec. Cibeunying K...",-6.901228,107.656385,"Jl. Padasuka No.20, Pasirlayung, Kec. Cibeunyi...",-6.901107,107.653824,2023-05-01 11:48:00,0.37,7200,150.0,Tunai,0.339
4,5,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 10:51:00,"Jl. Cikutra No.167, Neglasari, Kec. Cibeunying...",-6.896515,107.643428,"Jl. Cihampelas No.159, Cipaganti, Kecamatan Co...",-6.893258,107.603637,2023-05-01 11:16:00,7.62,15600,150.0,Tunai,6.584

Cek apakah fload atau bukan -> pisahkan

In [5]:
# Fungsi untuk memeriksa apakah nilai dapat diubah menjadi float atau tidak
def is_float(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

# Memeriksa kolom jarak_transaksi
invalid_jarak_transaksi = df[~df['jarak'].apply(is_float)]

# Memeriksa kolom jarak_google_maps
invalid_jarak_google_maps = df[~df['jarak_jemput_tujuan'].apply(is_float)]

In [6]:
invalid_jarak_transaksi

Empty DataFrame
Columns: [id, id_telp, email, tanggal, jenis_pesanan, datetime_tugas, lokasi_jemput, lat_jemput, long_jemput, lokasi_tujuan, lat_tujuan, long_tujuan, datetime_selesai, jarak, pendapatan_bersih, poin_tambahan, jenis_pembayaran, jarak_jemput_tujuan]
Index: []

In [7]:
invalid_jarak_google_maps

Empty DataFrame
Columns: [id, id_telp, email, tanggal, jenis_pesanan, datetime_tugas, lokasi_jemput, lat_jemput, long_jemput, lokasi_tujuan, lat_tujuan, long_tujuan, datetime_selesai, jarak, pendapatan_bersih, poin_tambahan, jenis_pembayaran, jarak_jemput_tujuan]
Index: []

Convert menjadi float

In [8]:
# convert kolom-kolom jarak menjadi float
df['jarak'] = df['jarak'].astype(float)
df['jarak_jemput_tujuan'] = df['jarak_jemput_tujuan'].astype(float)

In [9]:
df['jarak'].describe()

count    28947.000000
mean         3.784628
std          3.193548
min          0.000000
25%          1.670000
50%          2.880000
75%          4.870000
max         45.450000
Name: jarak, dtype: float64

##### Hitung perbedaan antara jarak asli dan jarak hasil geocoding dan distance matrix

In [10]:
# Menghitung Perbedaan Jarak
df['perbedaan_jarak'] = abs(df['jarak'] - df['jarak_jemput_tujuan'])
df.head()

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,lat_jemput,long_jemput,lokasi_tujuan,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak
0,1,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 14:01:00,"Jl. Cigadung Raya Barat No.6, Cigadung",-6.871760,107.620055,"Rancakalong RT/RW 04/04, Cigadung",-6.822729,107.844186,2023-05-01 14:11:00,1.67,8000,150.0,Dompet,70.216,68.546
1,2,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 12:16:00,"Jl. Sukamulya, Kopo, Bojongloa Kaler",-6.936636,107.585652,"Jl. Cibogo Atas No. 148, Sukawarna",-6.882776,107.575037,2023-05-01 12:49:00,9.03,18400,150.0,Tunai,18.526,9.496
2,3,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 11:50:00,Jl. Jendral Ahmad Yani Kiaracondong,-6.904833,107.647971,"196b, Gg. Pabrik Kulit Selatan No.2",-6.939039,107.589858,2023-05-01 12:15:00,9.55,19200,150.0,Tunai,9.526,0.024
3,4,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Food,2023-05-01 11:35:00,"Gg. Irit No.14, Pasirlayung, Kec. Cibeunying K...",-6.901228,107.656385,"Jl. Padasuka No.20, Pasirlayung, Kec. Cibeunyi...",-6.901107,107.653824,2023-05-01 11:48:00,0.37,7200,150.0,Tunai,0.339,0.031
4,5,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 10:51:00,"Jl. Cikutra No.167, Neglasari, Kec. Cibeunying...",-6.896515,107.643428,"Jl. Cihampelas No.159, Cipaganti, Kecamatan Co...",-6.893258,107.603637,2023-05-01 11:16:00,7.62,15600,150.0,Tunai,6.584,1.036

In [53]:
correct = df[df['perbedaan_jarak']<5]
correct.shape

(27437, 19)

In [54]:
correct.head()

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,lat_jemput,long_jemput,lokasi_tujuan,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak
2,3,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 11:50:00,Jl. Jendral Ahmad Yani Kiaracondong,-6.904833,107.647971,"196b, Gg. Pabrik Kulit Selatan No.2",-6.939039,107.589858,2023-05-01 12:15:00,9.55,19200,150.0,Tunai,9.526,0.024
3,4,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Food,2023-05-01 11:35:00,"Gg. Irit No.14, Pasirlayung, Kec. Cibeunying K...",-6.901228,107.656385,"Jl. Padasuka No.20, Pasirlayung, Kec. Cibeunyi...",-6.901107,107.653824,2023-05-01 11:48:00,0.37,7200,150.0,Tunai,0.339,0.031
4,5,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 10:51:00,"Jl. Cikutra No.167, Neglasari, Kec. Cibeunying...",-6.896515,107.643428,"Jl. Cihampelas No.159, Cipaganti, Kecamatan Co...",-6.893258,107.603637,2023-05-01 11:16:00,7.62,15600,150.0,Tunai,6.584,1.036
5,6,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 10:14:00,"Jl. Gegerkalong Hilir No.8, RW.01, Gegerkalong...",-6.870245,107.593153,"Jl. Jiwanaya No.02, RT.01/RW.04, Cibeunying, K...",-6.879492,107.631440,2023-05-01 10:39:00,7.80,16000,150.0,Dompet,8.390,0.590
6,7,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 09:05:00,"Cicaheum, Kec. Kiaracondong, Kota Bandung, Jaw...",-6.903948,107.652282,"Jl. Puri Dago Mas Utara 1 No.33, Antapani Teng...",-6.922764,107.665858,2023-05-01 09:17:00,3.90,8000,150.0,Dompet,3.817,0.083

In [11]:
# Load the Excel file into a pandas DataFrame
check = pd.read_excel('../data/after_check.xlsx')
check.shape

/home/peminumyakult/anaconda3/envs/suapp/lib/python3.11/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

(46, 19)

In [ ]:
final_df = pd.concat([correct, check], ignore_index=True)
final_df.shape

In [61]:
final_df.to_excel('../data/final_df.xlsx', index=False)

#### Load final_df

In [6]:
# Load the Excel file into a pandas DataFrame
final_df = pd.read_excel('../data/final_df.xlsx')
final_df.head()

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,lat_jemput,long_jemput,lokasi_tujuan,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak
0,3,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 11:50:00,Jl. Jendral Ahmad Yani Kiaracondong,-6.904833,107.647971,"196b, Gg. Pabrik Kulit Selatan No.2",-6.939039,107.589858,2023-05-01 12:15:00,9.55,19200,150.0,Tunai,9.526,0.024
1,4,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Food,2023-05-01 11:35:00,"Gg. Irit No.14, Pasirlayung, Kec. Cibeunying K...",-6.901228,107.656385,"Jl. Padasuka No.20, Pasirlayung, Kec. Cibeunyi...",-6.901107,107.653824,2023-05-01 11:48:00,0.37,7200,150.0,Tunai,0.339,0.031
2,5,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 10:51:00,"Jl. Cikutra No.167, Neglasari, Kec. Cibeunying...",-6.896515,107.643428,"Jl. Cihampelas No.159, Cipaganti, Kecamatan Co...",-6.893258,107.603637,2023-05-01 11:16:00,7.62,15600,150.0,Tunai,6.584,1.036
3,6,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 10:14:00,"Jl. Gegerkalong Hilir No.8, RW.01, Gegerkalong...",-6.870245,107.593153,"Jl. Jiwanaya No.02, RT.01/RW.04, Cibeunying, K...",-6.879492,107.631440,2023-05-01 10:39:00,7.80,16000,150.0,Dompet,8.390,0.590
4,7,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 09:05:00,"Cicaheum, Kec. Kiaracondong, Kota Bandung, Jaw...",-6.903948,107.652282,"Jl. Puri Dago Mas Utara 1 No.33, Antapani Teng...",-6.922764,107.665858,2023-05-01 09:17:00,3.90,8000,150.0,Dompet,3.817,0.083

In [7]:
final_df[final_df.duplicated(subset=['id'], keep=False)]

Empty DataFrame
Columns: [id, id_telp, email, tanggal, jenis_pesanan, datetime_tugas, lokasi_jemput, lat_jemput, long_jemput, lokasi_tujuan, lat_tujuan, long_tujuan, datetime_selesai, jarak, pendapatan_bersih, poin_tambahan, jenis_pembayaran, jarak_jemput_tujuan, perbedaan_jarak]
Index: []

In [8]:
final_df.shape

(27483, 19)

In [9]:
under_1km = final_df[final_df['perbedaan_jarak']<1]
under_1km.head()

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,lat_jemput,long_jemput,lokasi_tujuan,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak
0,3,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 11:50:00,Jl. Jendral Ahmad Yani Kiaracondong,-6.904833,107.647971,"196b, Gg. Pabrik Kulit Selatan No.2",-6.939039,107.589858,2023-05-01 12:15:00,9.55,19200,150.0,Tunai,9.526,0.024
1,4,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Food,2023-05-01 11:35:00,"Gg. Irit No.14, Pasirlayung, Kec. Cibeunying K...",-6.901228,107.656385,"Jl. Padasuka No.20, Pasirlayung, Kec. Cibeunyi...",-6.901107,107.653824,2023-05-01 11:48:00,0.37,7200,150.0,Tunai,0.339,0.031
3,6,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 10:14:00,"Jl. Gegerkalong Hilir No.8, RW.01, Gegerkalong...",-6.870245,107.593153,"Jl. Jiwanaya No.02, RT.01/RW.04, Cibeunying, K...",-6.879492,107.631440,2023-05-01 10:39:00,7.80,16000,150.0,Dompet,8.390,0.590
4,7,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 09:05:00,"Cicaheum, Kec. Kiaracondong, Kota Bandung, Jaw...",-6.903948,107.652282,"Jl. Puri Dago Mas Utara 1 No.33, Antapani Teng...",-6.922764,107.665858,2023-05-01 09:17:00,3.90,8000,150.0,Dompet,3.817,0.083
5,8,8.212093e+10,brigezwawan72@gmail.com,5/2/2023,Food,2023-05-02 18:10:00,"Jl. Cihampelas No.50, Tamansari, Kec. Bandung ...",-6.902811,107.604631,"Jl. Imam Bonjol No.47, Lebakgede, Kecamatan Co...",-6.890128,107.615151,2023-05-02 18:29:00,3.04,8800,150.0,Dompet,3.247,0.207

In [10]:
under_1km.shape

(20538, 19)

In [11]:
under_1km.to_excel('../data/under_1km.xlsx', index=False)

In [15]:
upper_1km = final_df[final_df['perbedaan_jarak']>1]
upper_1km.shape

(6935, 19)

In [16]:
upper_1km.to_excel('../data/upper_1km.xlsx', index=False)

Data upper_1km dicek pisah ulang berdasarkan titik yang berada di dalam cekungan bandung dan di luar cekungan bandung.

#### Load data setelah dipisah antara inside & outside cekungan

##### Outside cekungan

In [2]:
# Load the Excel file into a pandas DataFrame
outside = pd.read_excel('../data/outside_cekungan_1.xlsx')
outside.head()

,OBJECTID,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,lat_jemput,long_jemput,lokasi_tujuan,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak
0,1,13012,8.231775e+10,sandiabdilah1989@gmail.com,2023-05-02,Ride,2023-05-02 06:32:00,"SDN Margaasih, Margaasih, Kec. Margaasih",-6.927080,107.264228,"Jl Melong Nyontrol No. 155, Melong, Cimahi Sel",-6.927080,107.264228,2023-05-02 06:52:00,1.75,8000,150,Tunai,0.000,1.750
1,3,2231,8.122401e+10,agusmulyadi123a@gmail.com,NaT,Food,2023-05-02 18:31:00,"Jl. Phh. Mustofa No.14, RT.01/RW.15 Kel, Cikut...",-6.898062,107.073877,"Jl. Tj. Sari Asri Residence No.71, Antapani We...",-6.906452,107.665916,2023-05-02 19:03:00,4.33,10400,150,Dompet,86.070,81.740
2,4,5655,8.212938e+10,dergojek@gmail.com,NaT,Ride,2023-05-05 18:00:00,"Cijerah, Bandung Kulon",-6.609130,107.429335,Jl Tirta Indah III No 307b,-6.908578,107.559577,2023-05-05 18:18:00,2.52,8800,150,Tunai,61.876,59.356
3,5,8823,8.822295e+10,NaN,NaT,Ride,2023-05-10 10:17:00,"Graha Kencana Residence Blok 2 No.35, Jl. Ibu ...",-6.738343,107.313234,"SDN 1 Cibeber, Jl. Ibu Ganirah No.N. 71, Cibeb...",-6.891535,107.509246,2023-05-10 10:26:00,1.13,8000,150,Tunai,40.498,39.368
4,6,12555,8.122197e+10,bbebet23@gmail.com,NaT,Kurir Barang,2023-05-09 15:50:00,"Jl Panjunan No. 30, Panjunan",-6.718176,108.564827,"Jl Seskoau, Lembang, Kec. Lembang",-6.819647,107.619608,2023-05-09 16:45:00,17.53,34800,150,Tunai,165.431,147.901

Geocoding ulang

In [6]:
# Define your Google Maps Geocoding API key
api_key = "AIzaSyDr9hZlUP0gZrGE8anyl5eHHvrM-2W7zN4"
# Function to geocode an address within the Bandung area using Google Maps Geocoding API
def geocode_address(address):
    # convert address into string
    address = str(address)
    # Append ", Bandung" to the address to limit the geocoding to the Bandung area
    address += ", Bandung"
    url = f"https://maps.googleapis.com/maps/api/geocode/json?address={address}&key={api_key}"
    response = requests.get(url)
    data = response.json()
    if data['status'] == 'OK':
        lat = data['results'][0]['geometry']['location']['lat']
        lng = data['results'][0]['geometry']['location']['lng']
        return lat, lng
    else:
        return np.nan, np.nan

In [7]:
# Apply geocode_address only to the 'lokasi_jemput' column for the null rows
outside['lat_jemput'], outside['long_jemput'] = zip(*outside['lokasi_jemput'].apply(geocode_address))

In [8]:
outside.to_excel('../data/outside_geocode.xlsx', index=False)

##### Import after geocoding

In [24]:
# Load the Excel file into a pandas DataFrame
outside = pd.read_excel('../data/outside_geocode.xlsx')
outside.head()

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,lat_jemput,long_jemput,lokasi_tujuan,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak
0,13012,8.231775e+10,sandiabdilah1989@gmail.com,2023-05-02,Ride,2023-05-02 06:32:00,"SDN Margaasih, Margaasih, Kec. Margaasih",-6.933461,107.548397,"Jl Melong Nyontrol No. 155, Melong, Cimahi Sel",-6.927080,107.264228,2023-05-02 06:52:00,1.75,8000,150,Tunai,0.000,1.750
1,2231,8.122401e+10,agusmulyadi123a@gmail.com,NaT,Food,2023-05-02 18:31:00,"Jl. Phh. Mustofa No.14, RT.01/RW.15 Kel, Cikut...",-6.897982,107.634699,"Jl. Tj. Sari Asri Residence No.71, Antapani We...",-6.906452,107.665916,2023-05-02 19:03:00,4.33,10400,150,Dompet,86.070,81.740
2,5655,8.212938e+10,dergojek@gmail.com,NaT,Ride,2023-05-05 18:00:00,"Cijerah, Bandung Kulon",-6.920836,107.566788,Jl Tirta Indah III No 307b,-6.908578,107.559577,2023-05-05 18:18:00,2.52,8800,150,Tunai,61.876,59.356
3,8823,8.822295e+10,NaN,NaT,Ride,2023-05-10 10:17:00,"Graha Kencana Residence Blok 2 No.35, Jl. Ibu ...",-6.898261,107.523084,"SDN 1 Cibeber, Jl. Ibu Ganirah No.N. 71, Cibeb...",-6.891535,107.509246,2023-05-10 10:26:00,1.13,8000,150,Tunai,40.498,39.368
4,12555,8.122197e+10,bbebet23@gmail.com,NaT,Kurir Barang,2023-05-09 15:50:00,"Jl Panjunan No. 30, Panjunan",-6.930163,107.599090,"Jl Seskoau, Lembang, Kec. Lembang",-6.819647,107.619608,2023-05-09 16:45:00,17.53,34800,150,Tunai,165.431,147.901

In [25]:
outside.shape

(41, 19)

In [26]:
def calculate_distance(lat1, long1, lat2, long2):
    try:
        result = gmaps.distance_matrix((lat1, long1), (lat2, long2), mode='driving')

        # Check if the response contains 'rows' and 'elements' keys
        if 'rows' in result and result['rows'] and 'elements' in result['rows'][0] and result['rows'][0]['elements']:
            element = result['rows'][0]['elements'][0]

            # Check if 'distance' key is present in the 'elements' dictionary
            if 'distance' in element and 'value' in element['distance']:
                distance = element['distance']['value']  # In meters
                return distance

        raise KeyError("Distance data not found in API response")

    except Exception as e:
        print(f"An error occurred while calling the Google Maps API: {e}")
        return -1  # Return a default value to indicate an error

In [ ]:
# Create empty DataFrames to store successful and failed results
successful_distances = pd.DataFrame()
failed_distances = pd.DataFrame()

# Calculate distances and store the results in separate DataFrames
for index, row in df.iterrows():
    distance = calculate_distance(row['lat_jemput'], row['long_jemput'], row['lat_tujuan'], row['long_tujuan'])
    
    if distance != -1:
        row['jarak_jemput_tujuan'] = distance
        successful_distances = pd.concat([successful_distances, row.to_frame().T])
    else:
        failed_distances = pd.concat([failed_distances, row.to_frame().T])

# Reset the indexes of the new DataFrames
successful_distances.reset_index(drop=True, inplace=True)
failed_distances.reset_index(drop=True, inplace=True)

##### Inside + Outside Cekungan

In [4]:
# Load the Excel file into a pandas DataFrame
inside = pd.read_excel('../data/inside_cekungan_1.xlsx')
inside.head()

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,lat_jemput,long_jemput,lokasi_tujuan,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak
0,5,8.212093e+10,brigezwawan72@gmail.com,2023-05-01,Ride,2023-05-01 10:51:00,"Jl. Cikutra No.167, Neglasari, Kec. Cibeunying...",-6.896515,107.643428,"Jl. Cihampelas No.159, Cipaganti, Kecamatan Co...",-6.893258,107.603637,2023-05-01 11:16:00,7.62,15600.0,150.0,Tunai,6.584,1.036
1,11,8.212093e+10,brigezwawan72@gmail.com,2023-05-02,Ride,2023-05-02 15:54:00,"Citarum, Kec. Bandung Wetan, Kota Bandung, Jaw...",-6.906110,107.617866,"Jl. Dr. Djunjunan No.89, Pajajaran, Kec. Cicen...",-6.896258,107.589785,2023-05-02 16:09:00,5.97,12000.0,150.0,Dompet,4.382,1.588
2,16,8.212093e+10,brigezwawan72@gmail.com,2023-05-03,Ride,2023-05-03 09:45:00,"Jl. A. Yani No.830, Cicaheum, Kec. Kiaracondon...",-6.902290,107.655741,"Jl. Raya Cilember, RT.07/RW.06, Cigugur Tengah...",-6.892765,107.556495,2023-05-03 10:33:00,16.26,32800.0,200.0,Dompet,12.609,3.651
3,18,8.212093e+10,brigezwawan72@gmail.com,2023-05-03,Ride,2023-05-03 16:34:00,"Jl. Sriwijaya Jl. BKR No.44, Cigereleng, Kec. ...",-6.941033,107.612679,"Parahyangan Residence, Jl. Ciumbuleuit No.125,...",-6.877027,107.603198,2023-05-03 16:34:00,6.41,13200.0,150.0,Dompet,8.808,2.398
4,23,8.212093e+10,brigezwawan72@gmail.com,2023-05-04,Ride,2023-05-04 17:23:00,"Gg. Dakota Raya No.109, Sukaraja, Kec. Cicendo...",-6.891961,107.571947,"Jl. Surya Sumantri No.48, Sukawarna, Kec. Suka...",-6.888394,107.581502,2023-05-04 17:35:00,1.39,8000.0,150.0,Dompet,2.474,1.084

In [5]:
inside.shape

(6887, 19)

###### Concat inside + outside

In [12]:
upper = pd.concat([inside, outside], ignore_index=True)
upper.head()

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,lat_jemput,long_jemput,lokasi_tujuan,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak
0,5,8.212093e+10,brigezwawan72@gmail.com,2023-05-01,Ride,2023-05-01 10:51:00,"Jl. Cikutra No.167, Neglasari, Kec. Cibeunying...",-6.896515,107.643428,"Jl. Cihampelas No.159, Cipaganti, Kecamatan Co...",-6.893258,107.603637,2023-05-01 11:16:00,7.62,15600.0,150.0,Tunai,6.584,1.036
1,11,8.212093e+10,brigezwawan72@gmail.com,2023-05-02,Ride,2023-05-02 15:54:00,"Citarum, Kec. Bandung Wetan, Kota Bandung, Jaw...",-6.906110,107.617866,"Jl. Dr. Djunjunan No.89, Pajajaran, Kec. Cicen...",-6.896258,107.589785,2023-05-02 16:09:00,5.97,12000.0,150.0,Dompet,4.382,1.588
2,16,8.212093e+10,brigezwawan72@gmail.com,2023-05-03,Ride,2023-05-03 09:45:00,"Jl. A. Yani No.830, Cicaheum, Kec. Kiaracondon...",-6.902290,107.655741,"Jl. Raya Cilember, RT.07/RW.06, Cigugur Tengah...",-6.892765,107.556495,2023-05-03 10:33:00,16.26,32800.0,200.0,Dompet,12.609,3.651
3,18,8.212093e+10,brigezwawan72@gmail.com,2023-05-03,Ride,2023-05-03 16:34:00,"Jl. Sriwijaya Jl. BKR No.44, Cigereleng, Kec. ...",-6.941033,107.612679,"Parahyangan Residence, Jl. Ciumbuleuit No.125,...",-6.877027,107.603198,2023-05-03 16:34:00,6.41,13200.0,150.0,Dompet,8.808,2.398
4,23,8.212093e+10,brigezwawan72@gmail.com,2023-05-04,Ride,2023-05-04 17:23:00,"Gg. Dakota Raya No.109, Sukaraja, Kec. Cicendo...",-6.891961,107.571947,"Jl. Surya Sumantri No.48, Sukawarna, Kec. Suka...",-6.888394,107.581502,2023-05-04 17:35:00,1.39,8000.0,150.0,Dompet,2.474,1.084

In [14]:
upper.shape

(6928, 19)

#### Gabung lagi upper + under 1 km

In [16]:
# Load the Excel file into a pandas DataFrame
under = pd.read_excel('../data/under_1km.xlsx')
under.head()

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,lat_jemput,long_jemput,lokasi_tujuan,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak
0,3,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 11:50:00,Jl. Jendral Ahmad Yani Kiaracondong,-6.904833,107.647971,"196b, Gg. Pabrik Kulit Selatan No.2",-6.939039,107.589858,2023-05-01 12:15:00,9.55,19200,150.0,Tunai,9.526,0.024
1,4,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Food,2023-05-01 11:35:00,"Gg. Irit No.14, Pasirlayung, Kec. Cibeunying K...",-6.901228,107.656385,"Jl. Padasuka No.20, Pasirlayung, Kec. Cibeunyi...",-6.901107,107.653824,2023-05-01 11:48:00,0.37,7200,150.0,Tunai,0.339,0.031
2,6,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 10:14:00,"Jl. Gegerkalong Hilir No.8, RW.01, Gegerkalong...",-6.870245,107.593153,"Jl. Jiwanaya No.02, RT.01/RW.04, Cibeunying, K...",-6.879492,107.631440,2023-05-01 10:39:00,7.80,16000,150.0,Dompet,8.390,0.590
3,7,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 09:05:00,"Cicaheum, Kec. Kiaracondong, Kota Bandung, Jaw...",-6.903948,107.652282,"Jl. Puri Dago Mas Utara 1 No.33, Antapani Teng...",-6.922764,107.665858,2023-05-01 09:17:00,3.90,8000,150.0,Dompet,3.817,0.083
4,8,8.212093e+10,brigezwawan72@gmail.com,5/2/2023,Food,2023-05-02 18:10:00,"Jl. Cihampelas No.50, Tamansari, Kec. Bandung ...",-6.902811,107.604631,"Jl. Imam Bonjol No.47, Lebakgede, Kecamatan Co...",-6.890128,107.615151,2023-05-02 18:29:00,3.04,8800,150.0,Dompet,3.247,0.207

In [17]:
under.shape

(20538, 19)

In [18]:
df = pd.concat([under, upper], ignore_index=True)
df.head()

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,lat_jemput,long_jemput,lokasi_tujuan,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak
0,3,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 11:50:00,Jl. Jendral Ahmad Yani Kiaracondong,-6.904833,107.647971,"196b, Gg. Pabrik Kulit Selatan No.2",-6.939039,107.589858,2023-05-01 12:15:00,9.55,19200,150.0,Tunai,9.526,0.024
1,4,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Food,2023-05-01 11:35:00,"Gg. Irit No.14, Pasirlayung, Kec. Cibeunying K...",-6.901228,107.656385,"Jl. Padasuka No.20, Pasirlayung, Kec. Cibeunyi...",-6.901107,107.653824,2023-05-01 11:48:00,0.37,7200,150.0,Tunai,0.339,0.031
2,6,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 10:14:00,"Jl. Gegerkalong Hilir No.8, RW.01, Gegerkalong...",-6.870245,107.593153,"Jl. Jiwanaya No.02, RT.01/RW.04, Cibeunying, K...",-6.879492,107.631440,2023-05-01 10:39:00,7.80,16000,150.0,Dompet,8.390,0.590
3,7,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 09:05:00,"Cicaheum, Kec. Kiaracondong, Kota Bandung, Jaw...",-6.903948,107.652282,"Jl. Puri Dago Mas Utara 1 No.33, Antapani Teng...",-6.922764,107.665858,2023-05-01 09:17:00,3.90,8000,150.0,Dompet,3.817,0.083
4,8,8.212093e+10,brigezwawan72@gmail.com,5/2/2023,Food,2023-05-02 18:10:00,"Jl. Cihampelas No.50, Tamansari, Kec. Bandung ...",-6.902811,107.604631,"Jl. Imam Bonjol No.47, Lebakgede, Kecamatan Co...",-6.890128,107.615151,2023-05-02 18:29:00,3.04,8800,150.0,Dompet,3.247,0.207

In [20]:
df.shape

(27466, 19)

In [21]:
df.to_excel('../data/final_final_df.xlsx', index=False)

### (Real) Exploratory Data Analysis

In [22]:
df.head()

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,lat_jemput,long_jemput,lokasi_tujuan,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak
0,3,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 11:50:00,Jl. Jendral Ahmad Yani Kiaracondong,-6.904833,107.647971,"196b, Gg. Pabrik Kulit Selatan No.2",-6.939039,107.589858,2023-05-01 12:15:00,9.55,19200,150.0,Tunai,9.526,0.024
1,4,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Food,2023-05-01 11:35:00,"Gg. Irit No.14, Pasirlayung, Kec. Cibeunying K...",-6.901228,107.656385,"Jl. Padasuka No.20, Pasirlayung, Kec. Cibeunyi...",-6.901107,107.653824,2023-05-01 11:48:00,0.37,7200,150.0,Tunai,0.339,0.031
2,6,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 10:14:00,"Jl. Gegerkalong Hilir No.8, RW.01, Gegerkalong...",-6.870245,107.593153,"Jl. Jiwanaya No.02, RT.01/RW.04, Cibeunying, K...",-6.879492,107.631440,2023-05-01 10:39:00,7.80,16000,150.0,Dompet,8.390,0.590
3,7,8.212093e+10,brigezwawan72@gmail.com,5/1/2023,Ride,2023-05-01 09:05:00,"Cicaheum, Kec. Kiaracondong, Kota Bandung, Jaw...",-6.903948,107.652282,"Jl. Puri Dago Mas Utara 1 No.33, Antapani Teng...",-6.922764,107.665858,2023-05-01 09:17:00,3.90,8000,150.0,Dompet,3.817,0.083
4,8,8.212093e+10,brigezwawan72@gmail.com,5/2/2023,Food,2023-05-02 18:10:00,"Jl. Cihampelas No.50, Tamansari, Kec. Bandung ...",-6.902811,107.604631,"Jl. Imam Bonjol No.47, Lebakgede, Kecamatan Co...",-6.890128,107.615151,2023-05-02 18:29:00,3.04,8800,150.0,Dompet,3.247,0.207

In [23]:
df.describe()

,id,id_telp,lat_jemput,long_jemput,lat_tujuan,long_tujuan,jarak,poin_tambahan,jarak_jemput_tujuan,perbedaan_jarak
count,27466.000000,2.138200e+04,27466.000000,27466.000000,27466.000000,27466.000000,27466.000000,27443.000000,27466.000000,27466.000000
mean,14367.875482,1.195496e+11,-6.911438,107.611911,-6.911285,107.612256,3.679727,150.428955,4.549806,1.270187
std,8324.268210,1.755063e+11,0.025322,0.028405,0.028982,0.032037,2.956928,6.421193,44.989298,44.898218
min,3.000000,8.176327e+09,-7.078504,107.458683,-7.113588,107.264228,0.000000,3.820000,0.000000,0.000000
25%,7200.250000,8.128080e+10,-6.924122,107.597129,-6.927098,107.595887,1.660000,150.000000,1.907000,0.115000
50%,14315.000000,8.212093e+10,-6.908591,107.613730,-6.908587,107.612865,2.860000,150.000000,3.329000,0.402000
75%,21468.750000,8.532031e+10,-6.894520,107.625069,-6.891801,107.628527,4.780000,150.000000,5.306750,1.008000
max,28967.000000,8.956370e+11,-6.759178,107.946616,-6.778434,107.836598,45.450000,250.000000,7269.587000,7268.537000