## Exploratory Data Analysis Data Transaksi

#### Import Libraries

In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import numpy as np

import requests

import openpyxl

import matplotlib.pyplot as plt
import datetime
from selenium import webdriver

In [2]:
import googlemaps

# Replace 'YOUR_API_KEY' with your actual API key
gmaps = googlemaps.Client(key='AIzaSyDr9hZlUP0gZrGE8anyl5eHHvrM-2W7zN4')

#### Fungsi lokal

Fungsi untuk geocoding dengan Google Maps API

In [3]:
# Define your Google Maps Geocoding API key
api_key = "AIzaSyDr9hZlUP0gZrGE8anyl5eHHvrM-2W7zN4"
# Function to geocode an address within the Bandung area using Google Maps Geocoding API
def geocode_address(address):
    # convert address into string
    address = str(address)
    # Append ", Bandung" to the address to limit the geocoding to the Bandung area
    address += ", Bandung"
    url = f"https://maps.googleapis.com/maps/api/geocode/json?address={address}&key={api_key}"
    response = requests.get(url)
    data = response.json()
    if data['status'] == 'OK':
        lat = data['results'][0]['geometry']['location']['lat']
        lng = data['results'][0]['geometry']['location']['lng']
        return lat, lng
    else:
        return np.nan, np.nan

Fungsi untuk get response dari short url

In [4]:
### redirected url function
def get_redirected_url(shortened_url):
    response = requests.head(shortened_url)
    return response.headers.get("Location")

## Data Cleaning & Transformation

##### Load data Google Sheets dengan format tanggal mm/dd/yyyy

In [5]:
# sheet id dataset
sheet_id = "1s1ML5SqtQpSn8x2nQszEvbB8qbhkvWXooo9BTFeMBPY"

# data with date dd/mm/yyyy
sheet_name = "tgl1_all"
url_mmdd = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
df_mmdd = pd.read_csv(url_mmdd)

In [6]:
# check nan value of tanggal
df_mmdd[df_mmdd['tanggal'].isna()]

Empty DataFrame
Columns: [id_telp, email, tanggal, jenis_pesanan, waktu_tugas, lokasi_jemput, url_jemput, lokasi_tujuan, url_tujuan, waktu_selesai, jarak, pendapatan_bersih, poin_tambahan, jenis_pembayaran]
Index: []

In [7]:
# check nan value of tanggal
df_mmdd[df_mmdd['waktu_selesai'].isna()]

Empty DataFrame
Columns: [id_telp, email, tanggal, jenis_pesanan, waktu_tugas, lokasi_jemput, url_jemput, lokasi_tujuan, url_tujuan, waktu_selesai, jarak, pendapatan_bersih, poin_tambahan, jenis_pembayaran]
Index: []

In [8]:
# convert tanggal to datetime
df_mmdd['tanggal'] = pd.to_datetime(df_mmdd['tanggal'], format='%m/%d/%Y')

In [9]:
# Convert the 'dates' column to datetime format
df_mmdd['tanggal'] = pd.to_datetime(df_mmdd['tanggal'], format='%m/%d/%Y')

# Define the start and end dates of the range
start_date = pd.to_datetime('05/01/2023', format='%m/%d/%Y')
end_date = pd.to_datetime('05/14/2023', format='%m/%d/%Y')

# Check if the dates fall outside the specified range
mask = ~((df_mmdd['tanggal'] >= start_date) & (df_mmdd['tanggal'] <= end_date))
dates_outside_range = df_mmdd[mask]
dates_outside_range

Empty DataFrame
Columns: [id_telp, email, tanggal, jenis_pesanan, waktu_tugas, lokasi_jemput, url_jemput, lokasi_tujuan, url_tujuan, waktu_selesai, jarak, pendapatan_bersih, poin_tambahan, jenis_pembayaran]
Index: []

In [10]:
# delete row with tanggal outside range
df_mmdd = df_mmdd.drop(dates_outside_range.index)

##### Load data Google Sheets dengan format tanggal dd/mm/yyyy

In [11]:
# sheet id dataset
sheet_id = "1s1ML5SqtQpSn8x2nQszEvbB8qbhkvWXooo9BTFeMBPY"

# data with date dd/mm/yyyy
sheet_name = "tgl2_all"
url_ddmm = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
df_ddmm = pd.read_csv(url_ddmm)

In [12]:
# check nan value of tanggal
df_ddmm[df_ddmm['tanggal'].isna()]

Empty DataFrame
Columns: [id_telp, email, tanggal, jenis_pesanan, waktu_tugas, lokasi_jemput, url_jemput, lokasi_tujuan, url_tujuan, waktu_selesai, jarak, pendapatan_bersih, poin_tambahan, jenis_pembayaran]
Index: []

In [13]:
# check nan value of tanggal
df_ddmm[df_ddmm['waktu_selesai'].isna()]

Empty DataFrame
Columns: [id_telp, email, tanggal, jenis_pesanan, waktu_tugas, lokasi_jemput, url_jemput, lokasi_tujuan, url_tujuan, waktu_selesai, jarak, pendapatan_bersih, poin_tambahan, jenis_pembayaran]
Index: []

In [14]:
# convert tanggal to datetime
df_ddmm['tanggal'] = pd.to_datetime(df_ddmm['tanggal'], format='%d/%m/%Y')

In [15]:
# Convert the 'dates' column to datetime format
df_ddmm['tanggal'] = pd.to_datetime(df_ddmm['tanggal'], format='%d/%m/%Y')

# Define the start and end dates of the range
start_date = pd.to_datetime('01/05/2023', format='%d/%m/%Y')
end_date = pd.to_datetime('14/05/2023', format='%d/%m/%Y')

# Check if the dates fall outside the specified range
mask = ~((df_ddmm['tanggal'] >= start_date) & (df_ddmm['tanggal'] <= end_date))
dates_outside_range = df_ddmm[mask]
dates_outside_range

Empty DataFrame
Columns: [id_telp, email, tanggal, jenis_pesanan, waktu_tugas, lokasi_jemput, url_jemput, lokasi_tujuan, url_tujuan, waktu_selesai, jarak, pendapatan_bersih, poin_tambahan, jenis_pembayaran]
Index: []

##### Merge data

In [16]:
# merge df_mmdd and df_ddmm
df = pd.concat([df_mmdd, df_ddmm], ignore_index=True)
df.head()

,id_telp,email,tanggal,jenis_pesanan,waktu_tugas,lokasi_jemput,url_jemput,lokasi_tujuan,url_tujuan,waktu_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran
0,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,14:01,"Jl. Cigadung Raya Barat No.6, Cigadung",https://www.google.com/maps/place/Jl.+Cigadung...,"Rancakalong RT/RW 04/04, Cigadung",https://www.google.com/maps/place/Jl.+Raya+Ran...,14:11,1.67,8000,150.0,Dompet
1,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,12:16,"Jl. Sukamulya, Kopo, Bojongloa Kaler",https://www.google.com/maps/place/Jl.+Sukamuly...,"Jl. Cibogo Atas No. 148, Sukawarna",https://www.google.com/maps/place/Jl.+Cibogo+A...,12:49,9.03,18400,150.0,Tunai
2,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,11:50,Jl. Jendral Ahmad Yani Kiaracondong,"https://www.google.com/maps/place/Jl.+A.+Yani,...","196b, Gg. Pabrik Kulit Selatan No.2",https://www.google.com/maps/place/Gg.+Pabrik+K...,12:15,9.55,19200,150.0,Tunai
3,82120934250,brigezwawan72@gmail.com,2023-05-01,Food,11:35,"Gg. Irit No.14, Pasirlayung, Kec. Cibeunying K...",https://www.google.com/maps/place/Gg.+Irit+No....,"Jl. Padasuka No.20, Pasirlayung, Kec. Cibeunyi...",https://www.google.com/maps/place/Jl.+Padasuka...,11:48,0.37,7200,150.0,Tunai
4,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,10:51,"Jl. Cikutra No.167, Neglasari, Kec. Cibeunying...",https://www.google.com/maps/place/Jl.+Cikutra+...,"Jl. Cihampelas No.159, Cipaganti, Kecamatan Co...",https://www.google.com/maps/place/Jl.+Cihampel...,11:16,7.62,15600,150.0,Tunai

In [17]:
# see waktu_selesai null value
df[df['waktu_selesai'].isnull()]

Empty DataFrame
Columns: [id_telp, email, tanggal, jenis_pesanan, waktu_tugas, lokasi_jemput, url_jemput, lokasi_tujuan, url_tujuan, waktu_selesai, jarak, pendapatan_bersih, poin_tambahan, jenis_pembayaran]
Index: []

In [18]:
df.shape

(28981, 14)

### Geocoding

Try extract from URL

In [19]:
# Extract latitude and longitude using regular expressions
df['lat_jemput'] = df['url_jemput'].str.extract(r'@([-+]?\d+\.\d+),')
df['long_jemput'] = df['url_jemput'].str.extract(r',([-+]?\d+\.\d+),')
df.head()

,id_telp,email,tanggal,jenis_pesanan,waktu_tugas,lokasi_jemput,url_jemput,lokasi_tujuan,url_tujuan,waktu_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,lat_jemput,long_jemput
0,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,14:01,"Jl. Cigadung Raya Barat No.6, Cigadung",https://www.google.com/maps/place/Jl.+Cigadung...,"Rancakalong RT/RW 04/04, Cigadung",https://www.google.com/maps/place/Jl.+Raya+Ran...,14:11,1.67,8000,150.0,Dompet,-6.87176,107.6200546
1,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,12:16,"Jl. Sukamulya, Kopo, Bojongloa Kaler",https://www.google.com/maps/place/Jl.+Sukamuly...,"Jl. Cibogo Atas No. 148, Sukawarna",https://www.google.com/maps/place/Jl.+Cibogo+A...,12:49,9.03,18400,150.0,Tunai,-6.9366356,107.5856519
2,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,11:50,Jl. Jendral Ahmad Yani Kiaracondong,"https://www.google.com/maps/place/Jl.+A.+Yani,...","196b, Gg. Pabrik Kulit Selatan No.2",https://www.google.com/maps/place/Gg.+Pabrik+K...,12:15,9.55,19200,150.0,Tunai,-6.9048332,107.647971
3,82120934250,brigezwawan72@gmail.com,2023-05-01,Food,11:35,"Gg. Irit No.14, Pasirlayung, Kec. Cibeunying K...",https://www.google.com/maps/place/Gg.+Irit+No....,"Jl. Padasuka No.20, Pasirlayung, Kec. Cibeunyi...",https://www.google.com/maps/place/Jl.+Padasuka...,11:48,0.37,7200,150.0,Tunai,-6.9012284,107.6563851
4,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,10:51,"Jl. Cikutra No.167, Neglasari, Kec. Cibeunying...",https://www.google.com/maps/place/Jl.+Cikutra+...,"Jl. Cihampelas No.159, Cipaganti, Kecamatan Co...",https://www.google.com/maps/place/Jl.+Cihampel...,11:16,7.62,15600,150.0,Tunai,-6.8965155,107.6434281

In [20]:
# Extract latitude and longitude using regular expressions
df['lat_tujuan'] = df['url_tujuan'].str.extract(r'@([-+]?\d+\.\d+),')
df['long_tujuan'] = df['url_tujuan'].str.extract(r',([-+]?\d+\.\d+),')
df.head()

,id_telp,email,tanggal,jenis_pesanan,waktu_tugas,lokasi_jemput,url_jemput,lokasi_tujuan,url_tujuan,waktu_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,lat_jemput,long_jemput,lat_tujuan,long_tujuan
0,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,14:01,"Jl. Cigadung Raya Barat No.6, Cigadung",https://www.google.com/maps/place/Jl.+Cigadung...,"Rancakalong RT/RW 04/04, Cigadung",https://www.google.com/maps/place/Jl.+Raya+Ran...,14:11,1.67,8000,150.0,Dompet,-6.87176,107.6200546,-6.8227288,107.8441862
1,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,12:16,"Jl. Sukamulya, Kopo, Bojongloa Kaler",https://www.google.com/maps/place/Jl.+Sukamuly...,"Jl. Cibogo Atas No. 148, Sukawarna",https://www.google.com/maps/place/Jl.+Cibogo+A...,12:49,9.03,18400,150.0,Tunai,-6.9366356,107.5856519,-6.8827763,107.5750375
2,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,11:50,Jl. Jendral Ahmad Yani Kiaracondong,"https://www.google.com/maps/place/Jl.+A.+Yani,...","196b, Gg. Pabrik Kulit Selatan No.2",https://www.google.com/maps/place/Gg.+Pabrik+K...,12:15,9.55,19200,150.0,Tunai,-6.9048332,107.647971,-6.9390388,107.5898577
3,82120934250,brigezwawan72@gmail.com,2023-05-01,Food,11:35,"Gg. Irit No.14, Pasirlayung, Kec. Cibeunying K...",https://www.google.com/maps/place/Gg.+Irit+No....,"Jl. Padasuka No.20, Pasirlayung, Kec. Cibeunyi...",https://www.google.com/maps/place/Jl.+Padasuka...,11:48,0.37,7200,150.0,Tunai,-6.9012284,107.6563851,-6.9011069,107.6538242
4,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,10:51,"Jl. Cikutra No.167, Neglasari, Kec. Cibeunying...",https://www.google.com/maps/place/Jl.+Cikutra+...,"Jl. Cihampelas No.159, Cipaganti, Kecamatan Co...",https://www.google.com/maps/place/Jl.+Cihampel...,11:16,7.62,15600,150.0,Tunai,-6.8965155,107.6434281,-6.8932576,107.6036374

In [21]:
# see null value of lat_jemput and long_jemput
print(df[df['lat_jemput'].isna()].shape)
print(df[df['long_jemput'].isna()].shape)

(13994, 18)
(13994, 18)

In [22]:
# see null value of lat_tujuan and long_tujuan
print(df[df['lat_tujuan'].isna()].shape)
print(df[df['long_tujuan'].isna()].shape)

(14094, 18)
(14094, 18)

In [23]:
df.shape

(28981, 18)

Geocoding dari alamat menggunakan Geocoding API

In [24]:
# Filter the rows where either 'lat_jemput' or 'long_jemput' is null
df_null_jemput = df[df['lat_jemput'].isnull() | df['long_jemput'].isnull()]

# Filter the rows where either 'lat_tujuan' or 'long_tujuan' is null
df_null_tujuan = df[df['lat_tujuan'].isnull() | df['long_tujuan'].isnull()]

In [25]:
df_null_jemput.shape

(13994, 18)

In [26]:
df_null_tujuan.shape

(14094, 18)

In [27]:
df_null_jemput[df_null_jemput['lokasi_jemput'].isna()]

Empty DataFrame
Columns: [id_telp, email, tanggal, jenis_pesanan, waktu_tugas, lokasi_jemput, url_jemput, lokasi_tujuan, url_tujuan, waktu_selesai, jarak, pendapatan_bersih, poin_tambahan, jenis_pembayaran, lat_jemput, long_jemput, lat_tujuan, long_tujuan]
Index: []

In [28]:
df_null_tujuan[df_null_tujuan['lokasi_tujuan'].isna()]

Empty DataFrame
Columns: [id_telp, email, tanggal, jenis_pesanan, waktu_tugas, lokasi_jemput, url_jemput, lokasi_tujuan, url_tujuan, waktu_selesai, jarak, pendapatan_bersih, poin_tambahan, jenis_pembayaran, lat_jemput, long_jemput, lat_tujuan, long_tujuan]
Index: []

In [29]:
df_null_jemput.head()

,id_telp,email,tanggal,jenis_pesanan,waktu_tugas,lokasi_jemput,url_jemput,lokasi_tujuan,url_tujuan,waktu_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,lat_jemput,long_jemput,lat_tujuan,long_tujuan
148,82120934250,brigezwawan72@gmail.com,2023-05-13,Food,16:55,"Jl. Wastukencana No.15, Babakan Ciamis, Kec. S...","Jl. Wastukencana No.15, Babakan Ciamis, Kec. S...","Jl. Wastukencana No.7a, Babakan Ciamis, Kec. S...","Jl. Wastukencana No.7a, Babakan Ciamis, Kec. S...",17:06,1.14,7200,150.0,Tunai,NaN,NaN,NaN,NaN
414,895402068939,herutea197@gmail.com,2023-05-13,Food,22:01,"Jl. Taruma Sari, Gang RA Wijaya No. 96, Bandung",NaN,"Gg. Tj., Sukapura, Kec, Kiaracondong","https://www.google.com/maps/place/3MC2%2BPHJ,+...",22:33,4.74,10800,150.0,Dompet + Tunai,NaN,NaN,-6.9281625,107.6513906
464,83821428878,hadymia11@gmail.com,2023-05-02,Send,13:02,"Labuhan Dua Puluh Toejoeh, Bandung",NaN,"Jl. Babakan Irigasi No.117, Babakan Tarogong, ...",https://www.google.com/maps/place/Jl.+Babakan+...,13:27,5.96,12300,150.0,Dompet,NaN,NaN,-6.9276315,107.593712
566,83821428878,hadymia11@gmail.com,2023-05-11,Ride,12:44,"Perumahan Bumi Tipar, Blok F No.70, Bandung",NaN,"Jl. Gn. Batu No.57, Sukaraja, Kec. Cicendo, Ko...",https://www.google.com/maps/place/Jl.+Gn.+Batu...,13:19,8.24,16800,150.0,Tunai,NaN,NaN,-6.892219,107.562177
1080,81224069499,aristarison3@gmail.com,2023-05-10,Ride,12:07,"Blok M, No. 3 Dago, Coblong",NaN,"Jl. Tamansari No.1, Tamansari, Kota Bandung, J...",https://www.google.com/maps/place/Jl.+Tamansar...,12:21,3.35,8000,150.0,Tunai,NaN,NaN,-6.9043,107.6077757

In [32]:
# Apply geocode_address only to the 'lokasi_jemput' column for the null rows
df_null_jemput['lat_jemput'], df_null_jemput['long_jemput'] = zip(*df_null_jemput['lokasi_jemput'].apply(geocode_address))

/tmp/ipykernel_81533/1553774407.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_null_jemput['lat_jemput'], df_null_jemput['long_jemput'] = zip(*df_null_jemput['lokasi_jemput'].apply(geocode_address))

In [34]:
# Apply geocode_address only to the 'lokasi_tujuan' column for the null rows
df_null_tujuan['lat_tujuan'], df_null_tujuan['long_tujuan'] = zip(*df_null_tujuan['lokasi_tujuan'].apply(geocode_address))

/tmp/ipykernel_81533/3570683842.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_null_tujuan['lat_tujuan'], df_null_tujuan['long_tujuan'] = zip(*df_null_tujuan['lokasi_tujuan'].apply(geocode_address))

In [35]:
# Update the original DataFrame with the geocoded values
df.update(df_null_jemput)
df.update(df_null_tujuan)

# Now df contains the geocoded values for the null locations
df.head()

,id_telp,email,tanggal,jenis_pesanan,waktu_tugas,lokasi_jemput,url_jemput,lokasi_tujuan,url_tujuan,waktu_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,lat_jemput,long_jemput,lat_tujuan,long_tujuan
0,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,14:01,"Jl. Cigadung Raya Barat No.6, Cigadung",https://www.google.com/maps/place/Jl.+Cigadung...,"Rancakalong RT/RW 04/04, Cigadung",https://www.google.com/maps/place/Jl.+Raya+Ran...,14:11,1.67,8000,150.0,Dompet,-6.87176,107.6200546,-6.8227288,107.8441862
1,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,12:16,"Jl. Sukamulya, Kopo, Bojongloa Kaler",https://www.google.com/maps/place/Jl.+Sukamuly...,"Jl. Cibogo Atas No. 148, Sukawarna",https://www.google.com/maps/place/Jl.+Cibogo+A...,12:49,9.03,18400,150.0,Tunai,-6.9366356,107.5856519,-6.8827763,107.5750375
2,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,11:50,Jl. Jendral Ahmad Yani Kiaracondong,"https://www.google.com/maps/place/Jl.+A.+Yani,...","196b, Gg. Pabrik Kulit Selatan No.2",https://www.google.com/maps/place/Gg.+Pabrik+K...,12:15,9.55,19200,150.0,Tunai,-6.9048332,107.647971,-6.9390388,107.5898577
3,82120934250,brigezwawan72@gmail.com,2023-05-01,Food,11:35,"Gg. Irit No.14, Pasirlayung, Kec. Cibeunying K...",https://www.google.com/maps/place/Gg.+Irit+No....,"Jl. Padasuka No.20, Pasirlayung, Kec. Cibeunyi...",https://www.google.com/maps/place/Jl.+Padasuka...,11:48,0.37,7200,150.0,Tunai,-6.9012284,107.6563851,-6.9011069,107.6538242
4,82120934250,brigezwawan72@gmail.com,2023-05-01,Ride,10:51,"Jl. Cikutra No.167, Neglasari, Kec. Cibeunying...",https://www.google.com/maps/place/Jl.+Cikutra+...,"Jl. Cihampelas No.159, Cipaganti, Kecamatan Co...",https://www.google.com/maps/place/Jl.+Cihampel...,11:16,7.62,15600,150.0,Tunai,-6.8965155,107.6434281,-6.8932576,107.6036374

In [37]:
df.shape

(28981, 18)

In [42]:
# see again null value of lat_jemput and lat_tujuan
df[df['lat_tujuan'].isna()].shape

(3, 18)

In [43]:
# see again null value of long_jemput and long_tujuan
df[df['lat_jemput'].isna()].shape

(11, 18)

In [44]:
# Hapus baris dengan nilai null di kolom tertentu
df_without_nulls = df.dropna(subset=['lat_tujuan', 'lat_jemput'])

In [45]:
df_without_nulls.shape

(28967, 18)

In [47]:
df_without_nulls.to_excel('../data/df_geocode.xlsx', index=False)