In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from factor_analyzer import FactorAnalyzer
from sklearn.preprocessing import StandardScaler

from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
from factor_analyzer.factor_analyzer import calculate_kmo

from tabulate import tabulate

In [2]:
df = pd.read_excel("../data/Data_MNL_v1.xlsx")
df.head()

,trip_id,driver_id,driver_email,trip_jenis_pesanan,trip_datetime_tugas,trip_datetime_selesai,trip_pendapatan_bersih,trip_poin_tambahan,trip_jenis_pembayaran,trip_jarak,...,loc_jumlah_stasiun,loc_jumlah_terminal,loc_jumlah_hotel,loc_jumlah_mall,loc_jumlah_ofm,loc_jumlah_pickup,loc_jumlah_dropoff,loc_populasi,loc_jml_b_permukiman,loc_avg_duration
0,3,8.212093e+10,brigezwawan72@gmail.com,Ride,2023-05-01 11:50:00,2023-05-01 12:15:00,19200.0,150.0,Tunai,9.55,...,0,0,1,0,13,386,123,17425,2325,1331.814570
1,4,8.212093e+10,brigezwawan72@gmail.com,Food,2023-05-01 11:35:00,2023-05-01 11:48:00,7200.0,150.0,Tunai,0.37,...,0,0,1,0,29,184,133,22585,2569,1454.529801
2,5,8.212093e+10,brigezwawan72@gmail.com,Ride,2023-05-01 10:51:00,2023-05-01 11:16:00,15600.0,150.0,Tunai,7.62,...,0,0,8,0,28,143,224,9676,1516,1422.701987
3,6,8.212093e+10,brigezwawan72@gmail.com,Ride,2023-05-01 10:14:00,2023-05-01 10:39:00,16000.0,150.0,Dompet,7.80,...,0,0,9,0,95,262,218,23375,4699,1993.006623
4,7,8.212093e+10,brigezwawan72@gmail.com,Ride,2023-05-01 09:05:00,2023-05-01 09:17:00,8000.0,150.0,Dompet,3.90,...,0,0,1,0,13,386,123,17425,2325,1331.814570