# Get Traffic Data Bandung

In [1]:
import googlemaps
from datetime import datetime
import geopandas as gpd

import pandas as pd

In [2]:
# Read the shapefile
shapefile_path = "../data/shapefile/centroid_bandung.shp"
gdf = gpd.read_file(shapefile_path)

In [3]:
# Extract coordinates and attribute data
gdf['latitude'] = gdf.geometry.y
gdf['longitude'] = gdf.geometry.x

In [4]:
gdf =  gdf[['NAME_4', 'latitude', 'longitude']]

In [5]:
centroid = gdf.rename(columns = {
    'NAME_4':'kelurahan'
})
centroid

          kelurahan  latitude   longitude
0           Campaka -6.900412  107.566504
1           Ciroyom -6.915770  107.588252
2    Dungus Cariang -6.914119  107.580806
3            Garuda -6.911455  107.576032
4       Kebon Jeruk -6.917187  107.598898
..              ...       ...         ...
146       Cigending -6.910509  107.697963
147    Pasanggrahan -6.910776  107.713816
148     Pasir Endah -6.904375  107.690213
149     Pasir Wangi -6.899396  107.706198
150       Pasirjati -6.902607  107.710287

[151 rows x 3 columns]

### Get Traffic Matrix
Setiap peak hour? -> mau di tanggal berapa?
Cek dulu peak hour

In [6]:
# Replace 'YOUR_API_KEY' with your actual Google Maps API key
API_KEY = 'AIzaSyBGixZaVSudQgXOabY-ok8psg8xqiJgwPM'

# Initialize the Google Maps client
gmaps = googlemaps.Client(key=API_KEY)

In [14]:
df = centroid

In [15]:
df

          kelurahan  latitude   longitude
0           Campaka -6.900412  107.566504
1           Ciroyom -6.915770  107.588252
2    Dungus Cariang -6.914119  107.580806
3            Garuda -6.911455  107.576032
4       Kebon Jeruk -6.917187  107.598898
..              ...       ...         ...
146       Cigending -6.910509  107.697963
147    Pasanggrahan -6.910776  107.713816
148     Pasir Endah -6.904375  107.690213
149     Pasir Wangi -6.899396  107.706198
150       Pasirjati -6.902607  107.710287

[151 rows x 3 columns]

In [16]:
# Add an automatic ID column using range
df['ID'] = range(1, len(df) + 1)

In [17]:
df

          kelurahan  latitude   longitude   ID
0           Campaka -6.900412  107.566504    1
1           Ciroyom -6.915770  107.588252    2
2    Dungus Cariang -6.914119  107.580806    3
3            Garuda -6.911455  107.576032    4
4       Kebon Jeruk -6.917187  107.598898    5
..              ...       ...         ...  ...
146       Cigending -6.910509  107.697963  147
147    Pasanggrahan -6.910776  107.713816  148
148     Pasir Endah -6.904375  107.690213  149
149     Pasir Wangi -6.899396  107.706198  150
150       Pasirjati -6.902607  107.710287  151

[151 rows x 4 columns]

In [12]:
# Convert latitude and longitude columns to floats
data["latitude"] = data["latitude"].astype(float)
data["longitude"] = data["longitude"].astype(float)

In [9]:
url = "https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix?key=AIzaSyC6lOFqvanhNqIHqjbQaN0JXq-upq8FzmQ"

In [11]:
# Inisialisasi list untuk menyimpan hasil
all_results = []

In [12]:
def calculate_distances(origins_df, destinations_df):
    headers = {
        "Content-Type": "application/json",
        "X-Goog-Api-Key": "AIzaSyC6lOFqvanhNqIHqjbQaN0JXq-upq8FzmQ",
        "X-Goog-FieldMask": "originIndex,destinationIndex,duration,distanceMeters,status,condition"
    }

    data = {
        "origins": [],
        "destinations": [],
        "travelMode": "TWO_WHEELER",
        "routingPreference": "TRAFFIC_AWARE"
    }

    result_data = []

    for _, origin_row in origins_df.iterrows():
        origin = {
            "waypoint": {
                "location": {
                    "latLng": {
                        "latitude": origin_row["latitude"],
                        "longitude": origin_row["longitude"]
                    }
                }
            }
        }
        data["origins"].append(origin)

    for _, dest_row in destinations_df.iterrows():
        destination = {
            "waypoint": {
                "location": {
                    "latLng": {
                        "latitude": dest_row["latitude"],
                        "longitude": dest_row["longitude"]
                    }
                }
            }
        }
        data["destinations"].append(destination)

    response = requests.post(url, json=data, headers=headers)

    if response.status_code == 200:
        result = response.json()

        for entry in result:
            originIndex = entry.get("originIndex", None)
            destinationIndex = entry.get("destinationIndex", None)
            status = entry.get("status", None)
            condition = entry.get("condition", None)
            duration = entry.get("duration", None)
            distance_meters = entry.get("distanceMeters", None)
            result_data.append({
                "originIndex": originIndex,
                "destinationIndex": destinationIndex,
                "status": status,
                "condition": condition,
                "duration": duration,
                "distanceMeters": distance_meters
            })

        result_df = pd.DataFrame(result_data)
        return result_df
    else:
        print("Error:", response.json())
        return None

In [18]:
# Split the original DataFrame into smaller DataFrames
chunk_size = 4
origin_dfs = [df[i:i + chunk_size] for i in range(0, len(df), chunk_size)]

In [20]:
len(origin_dfs)

38

In [22]:
import requests

Paket 1

In [43]:
origin_dfs[0]

        kelurahan  latitude   longitude  ID
0         Campaka -6.900412  107.566504   1
1         Ciroyom -6.915770  107.588252   2
2  Dungus Cariang -6.914119  107.580806   3
3          Garuda -6.911455  107.576032   4

In [36]:
temp = calculate_distances(origin_dfs[0], df)

In [37]:
temp

,originIndex,destinationIndex,status,condition,duration,distanceMeters
0,3,3,{},ROUTE_EXISTS,0s,NaN
1,3,79,{},ROUTE_EXISTS,472s,3125.0
2,2,2,{},ROUTE_EXISTS,0s,NaN
3,3,2,{},ROUTE_EXISTS,282s,1538.0
4,3,5,{},ROUTE_EXISTS,202s,729.0
...,...,...,...,...,...,...
599,0,87,{},ROUTE_EXISTS,1710s,18152.0
600,0,13,{},ROUTE_EXISTS,1777s,16035.0
601,0,38,{},ROUTE_EXISTS,1134s,9046.0
602,0,77,{},ROUTE_EXISTS,2129s,23451.0
603,0,75,{},ROUTE_EXISTS,2310s,26066.0

In [44]:
# Export the concatenated DataFrame to an Excel file
excel_filename = "temp.xlsx"  # Choose a suitable filename
temp.to_excel(excel_filename, index=False)