# Get Traffic Data 3 Kota

In [1]:
import googlemaps
from datetime import datetime
import geopandas as gpd

import pandas as pd

#### Centroid Snap Kota Bandung

In [2]:
# Read the shapefile (Kota Bandung)
bdg_path = "../data/shapefile/centroid_snap/bdg_snap.shp"
gdf_bdg = gpd.read_file(bdg_path)

In [3]:
# Extract coordinates and attribute data
gdf_bdg['latitude'] = gdf_bdg.geometry.y
gdf_bdg['longitude'] = gdf_bdg.geometry.x

In [4]:
bdg_centroid =  gdf_bdg[['kelurahan', 'latitude', 'longitude']]
bdg_centroid.head()

          kelurahan      latitude    longitude
0  Cisaranten Kulon  9.233621e+06  796262.2663
1    Antapani Kulon  9.235315e+06  793582.4048
2           Cibadak  9.233966e+06  786849.3011
3      Karang Anyar  9.233909e+06  787513.4108
4    Dungus Cariang  9.234947e+06  785192.0449

#### Centroid Kota Jakarta

In [5]:
# Read the shapefile (Kota Jakarta)
jkt_path = "../data/shapefile/centroid_snap/jkt_snap.shp"
gdf_jkt = gpd.read_file(jkt_path)

In [6]:
# Extract coordinates and attribute data
gdf_jkt['latitude'] = gdf_jkt.geometry.y
gdf_jkt['longitude'] = gdf_jkt.geometry.x

In [8]:
gdf_jkt

,NAME_2,NAME_3,NAME_4,ai,ORIG_FID,NEAR_X,NEAR_Y,NEAR_FID,NEAR_DIST,geometry,latitude,longitude
0,Jakarta Barat,Cengkareng,Cengkareng Barat,4.56,0,106.734623,-6.142026,23030,0.000776,POINT (106.73462 -6.14203),-6.142026,106.734623
1,Jakarta Barat,Cengkareng,Cengkareng Timur,6.56,1,106.724074,-6.138282,22321,0.000276,POINT (106.72407 -6.13828),-6.138282,106.724074
2,Jakarta Barat,Cengkareng,Duri Kosambi,2.44,2,106.702692,-6.164998,30174,0.000934,POINT (106.70269 -6.16500),-6.164998,106.702692
3,Jakarta Barat,Cengkareng,Kapuk,4.30,3,106.758370,-6.154805,27015,0.001980,POINT (106.75837 -6.15481),-6.154805,106.758370
4,Jakarta Barat,Cengkareng,Kedaung Kali Angke,1.48,4,106.754287,-6.140111,23104,0.000679,POINT (106.75429 -6.14011),-6.140111,106.754287
...,...,...,...,...,...,...,...,...,...,...,...,...
256,Jakarta Utara,Tanjung Priok,Sungai Bambu,5.07,256,106.877316,-6.132364,20870,0.000151,POINT (106.87732 -6.13236),-6.132364,106.877316
257,Jakarta Utara,Tanjung Priok,Sunter Agung,2.26,257,106.847557,-6.142606,23863,0.000157,POINT (106.84756 -6.14261),-6.142606,106.847557
258,Jakarta Utara,Tanjung Priok,Sunter Jaya,3.60,258,106.871070,-6.163526,29853,0.000057,POINT (106.87107 -6.16353),-6.163526,106.871070
259,Jakarta Utara,Tanjung Priok,Tanjung Priuk,10.60,259,106.877658,-6.121852,18891,0.000107,POINT (106.87766 -6.12185),-6.121852,106.877658
260,Jakarta Utara,Tanjung Priok,Warakas,4.94,260,106.878717,-6.113208,42028,0.000522,POINT (106.87872 -6.11321),-6.113208,106.878717

In [9]:
jkt_centroid =  gdf_jkt[['NAME_4', 'latitude', 'longitude']]
jkt_centroid.head()

               NAME_4  latitude   longitude
0    Cengkareng Barat -6.142026  106.734623
1    Cengkareng Timur -6.138282  106.724074
2        Duri Kosambi -6.164998  106.702692
3               Kapuk -6.154805  106.758370
4  Kedaung Kali Angke -6.140111  106.754287

In [10]:
jkt_centroid = jkt_centroid.rename(columns = {
    'NAME_4':'kelurahan'
})
jkt_centroid

              kelurahan  latitude   longitude
0      Cengkareng Barat -6.142026  106.734623
1      Cengkareng Timur -6.138282  106.724074
2          Duri Kosambi -6.164998  106.702692
3                 Kapuk -6.154805  106.758370
4    Kedaung Kali Angke -6.140111  106.754287
..                  ...       ...         ...
256        Sungai Bambu -6.132364  106.877316
257        Sunter Agung -6.142606  106.847557
258         Sunter Jaya -6.163526  106.871070
259       Tanjung Priuk -6.121852  106.877658
260             Warakas -6.113208  106.878717

[261 rows x 3 columns]

### Get Traffic Matrix
Setiap peak hour? -> mau di tanggal berapa?
Cek dulu peak hour

In [235]:
# Replace 'YOUR_API_KEY' with your actual Google Maps API key
API_KEY = 'AIzaSyBGixZaVSudQgXOabY-ok8psg8xqiJgwPM'

# Initialize the Google Maps client
gmaps = googlemaps.Client(key=API_KEY)

In [236]:
df = centroid

In [237]:
df

          kelurahan  latitude   longitude
0           Campaka -6.900412  107.566504
1           Ciroyom -6.915770  107.588252
2    Dungus Cariang -6.914119  107.580806
3            Garuda -6.911455  107.576032
4       Kebon Jeruk -6.917187  107.598898
..              ...       ...         ...
146       Cigending -6.910509  107.697963
147    Pasanggrahan -6.910776  107.713816
148     Pasir Endah -6.904375  107.690213
149     Pasir Wangi -6.899396  107.706198
150       Pasirjati -6.902607  107.710287

[151 rows x 3 columns]

In [238]:
df

          kelurahan  latitude   longitude
0           Campaka -6.900412  107.566504
1           Ciroyom -6.915770  107.588252
2    Dungus Cariang -6.914119  107.580806
3            Garuda -6.911455  107.576032
4       Kebon Jeruk -6.917187  107.598898
..              ...       ...         ...
146       Cigending -6.910509  107.697963
147    Pasanggrahan -6.910776  107.713816
148     Pasir Endah -6.904375  107.690213
149     Pasir Wangi -6.899396  107.706198
150       Pasirjati -6.902607  107.710287

[151 rows x 3 columns]

In [239]:
# Convert latitude and longitude columns to floats
df["latitude"] = df["latitude"].astype(float)
df["longitude"] = df["longitude"].astype(float)

In [240]:
url = "https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix?key=AIzaSyC6lOFqvanhNqIHqjbQaN0JXq-upq8FzmQ"

In [241]:
# Inisialisasi list untuk menyimpan hasil
all_results = []

In [242]:
def calculate_distances(origins_df, destinations_df):
    headers = {
        "Content-Type": "application/json",
        "X-Goog-Api-Key": "AIzaSyC6lOFqvanhNqIHqjbQaN0JXq-upq8FzmQ",
        "X-Goog-FieldMask": "originIndex,destinationIndex,duration,distanceMeters,status,condition"
    }

    data = {
        "origins": [],
        "destinations": [],
        "travelMode": "TWO_WHEELER",
        "routingPreference": "TRAFFIC_AWARE"
    }

    result_data = []

    for _, origin_row in origins_df.iterrows():
        origin = {
            "waypoint": {
                "location": {
                    "latLng": {
                        "latitude": origin_row["latitude"],
                        "longitude": origin_row["longitude"]
                    }
                }
            }
        }
        data["origins"].append(origin)

    for _, dest_row in destinations_df.iterrows():
        destination = {
            "waypoint": {
                "location": {
                    "latLng": {
                        "latitude": dest_row["latitude"],
                        "longitude": dest_row["longitude"]
                    }
                }
            }
        }
        data["destinations"].append(destination)

    response = requests.post(url, json=data, headers=headers)

    if response.status_code == 200:
        result = response.json()

        for entry in result:
            originIndex = entry.get("originIndex", None)
            destinationIndex = entry.get("destinationIndex", None)
            status = entry.get("status", None)
            condition = entry.get("condition", None)
            duration = entry.get("duration", None)
            distance_meters = entry.get("distanceMeters", None)
            result_data.append({
                "originIndex": originIndex,
                "destinationIndex": destinationIndex,
                "status": status,
                "condition": condition,
                "duration": duration,
                "distanceMeters": distance_meters
            })

        result_df = pd.DataFrame(result_data)
        return result_df
    else:
        print("Error:", response.json())
        return None

13 september jam 11 (peak weekday)
16 september jam 11 (peak weekend)

In [243]:
# Split the original DataFrame into smaller DataFrames
chunk_size = 4
origin_dfs = [df[i:i + chunk_size] for i in range(0, len(df), chunk_size)]

In [244]:
len(origin_dfs)

38

In [245]:
destination_dfs = df

In [246]:
import requests

Paket 1

In [247]:
origin_dfs[0]

        kelurahan  latitude   longitude
0         Campaka -6.900412  107.566504
1         Ciroyom -6.915770  107.588252
2  Dungus Cariang -6.914119  107.580806
3          Garuda -6.911455  107.576032

In [249]:
len(origin_dfs[0])

4

In [256]:
test = origin_dfs[0]

In [257]:
# Add an automatic ID column using range
test['ID'] = range(0, len(test))

/tmp/ipykernel_690/3899799509.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['ID'] = range(0, len(test))

In [258]:
test

        kelurahan  latitude   longitude  ID
0         Campaka -6.900412  107.566504   0
1         Ciroyom -6.915770  107.588252   1
2  Dungus Cariang -6.914119  107.580806   2
3          Garuda -6.911455  107.576032   3

In [253]:
temp = calculate_distances(origin_dfs[0], df)

In [254]:
temp

,originIndex,destinationIndex,status,condition,duration,distanceMeters
0,3,3,{},ROUTE_EXISTS,0s,NaN
1,0,2,{},ROUTE_EXISTS,455s,2961.0
2,3,37,{},ROUTE_EXISTS,586s,2485.0
3,3,78,{},ROUTE_EXISTS,655s,3484.0
4,3,80,{},ROUTE_EXISTS,668s,3259.0
...,...,...,...,...,...,...
599,0,71,{},ROUTE_EXISTS,1964s,13199.0
600,1,28,{},ROUTE_EXISTS,1505s,9557.0
601,0,73,{},ROUTE_EXISTS,1889s,12546.0
602,0,146,{},ROUTE_EXISTS,2475s,17546.0
603,0,75,{},ROUTE_EXISTS,2874s,26066.0

In [267]:
# Performing a left join
origin_join = pd.merge(temp, test, left_on='originIndex', right_on='ID',  how='left')

In [268]:
origin_join.rename(columns={'kelurahan': 'originKelurahan'}, inplace=True)

In [272]:
origin_join = origin_join[[
    'originKelurahan',
    'destinationIndex',
    'duration',
    'distanceMeters'
]]

In [273]:
origin_join

    originKelurahan  destinationIndex duration  distanceMeters
0            Garuda                 3       0s             NaN
1           Campaka                 2     455s          2961.0
2            Garuda                37     586s          2485.0
3            Garuda                78     655s          3484.0
4            Garuda                80     668s          3259.0
..              ...               ...      ...             ...
599         Campaka                71    1964s         13199.0
600         Ciroyom                28    1505s          9557.0
601         Campaka                73    1889s         12546.0
602         Campaka               146    2475s         17546.0
603         Campaka                75    2874s         26066.0

[604 rows x 4 columns]

In [282]:
destination_dfs

          kelurahan  latitude   longitude
0           Campaka -6.900412  107.566504
1           Ciroyom -6.915770  107.588252
2    Dungus Cariang -6.914119  107.580806
3            Garuda -6.911455  107.576032
4       Kebon Jeruk -6.917187  107.598898
..              ...       ...         ...
146       Cigending -6.910509  107.697963
147    Pasanggrahan -6.910776  107.713816
148     Pasir Endah -6.904375  107.690213
149     Pasir Wangi -6.899396  107.706198
150       Pasirjati -6.902607  107.710287

[151 rows x 3 columns]

In [285]:
destination_dfs['ID'] = range(0, len(df))

In [286]:
destination_dfs

          kelurahan  latitude   longitude   ID
0           Campaka -6.900412  107.566504    0
1           Ciroyom -6.915770  107.588252    1
2    Dungus Cariang -6.914119  107.580806    2
3            Garuda -6.911455  107.576032    3
4       Kebon Jeruk -6.917187  107.598898    4
..              ...       ...         ...  ...
146       Cigending -6.910509  107.697963  146
147    Pasanggrahan -6.910776  107.713816  147
148     Pasir Endah -6.904375  107.690213  148
149     Pasir Wangi -6.899396  107.706198  149
150       Pasirjati -6.902607  107.710287  150

[151 rows x 4 columns]

In [287]:
origin_join['destinationIndex'].unique()

array([  3,   2,  37,  78,  80,   5,   4,  79,  82,   1,   0, 133, 135,
        31, 143,  85, 112, 127,  25,  51,  35,  53,  14,  34, 132,  23,
        21,  83,  30, 113,  32,  40,  81,  17, 110,  38, 142,  24, 107,
        16,  52, 138,  15,  96,  20,  66,  50,  93,  59,  55, 134,  42,
       109, 144, 117, 101,  65,  48,  33, 104,  95, 145, 130, 126,  94,
        72,  54, 111,  18,  49, 137, 136,  64,  43,  57,  73,  91,  63,
       148,  88, 128, 141,  62, 140,  39,  19,  44,  58,  89,  56,  67,
        22,  26,  36, 129,   7,  46,  68,  60,  69, 125, 108,   9, 146,
         8, 139, 115,  27, 149, 103,  84,  29, 114,  71, 102, 123,  12,
        87, 116,  41,  47, 119, 120,  61,  92, 118,  76,  86,  45, 131,
        75, 100,  98,  70,   6,  97,  28,  11, 124, 121,  90, 106, 105,
       122,  10,  99, 150,  13,  74,  77, 147])

In [288]:
dest_join = pd.merge(origin_join, destination_dfs, left_on='destinationIndex', right_on='ID',  how='left')

In [289]:
dest_join

,originKelurahan,destinationIndex,duration,distanceMeters,kelurahan,latitude,longitude,ID
0,Garuda,3,0s,NaN,Garuda,-6.911455,107.576032,3
1,Campaka,2,455s,2961.0,Dungus Cariang,-6.914119,107.580806,2
2,Garuda,37,586s,2485.0,Warung Muncang,-6.923927,107.577114,37
3,Garuda,78,655s,3484.0,Arjuna,-6.910386,107.593537,78
4,Garuda,80,668s,3259.0,Pajajaran,-6.899107,107.587281,80
...,...,...,...,...,...,...,...,...
599,Campaka,71,1964s,13199.0,Pasirlayung,-6.894987,107.656549,71
600,Ciroyom,28,1505s,9557.0,Mengger,-6.960227,107.628746,28
601,Campaka,73,1889s,12546.0,Sukapada,-6.895976,107.646924,73
602,Campaka,146,2475s,17546.0,Cigending,-6.910509,107.697963,146
603,Campaka,75,2874s,26066.0,Cisurupan,-6.905396,107.723748,75

In [255]:
# Export the concatenated DataFrame to an Excel file
excel_filename = "temp.xlsx"  # Choose a suitable filename
temp.to_excel(excel_filename, index=False)