# Get Traffic Data 3 Kota

In [55]:
import googlemaps
from datetime import datetime
import geopandas as gpd

import pandas as pd

#### Centroid Snap Kota Medan

In [56]:
# Read the shapefile (Kota Bandung)
mdn_path = "../data/shapefile/centroid_snap/mdn_snap.shp"
gdf_mdn = gpd.read_file(mdn_path)

In [57]:
gdf_mdn

,NAME_3,NAME_4,AI,Count_OFM,ai_1,ORIG_FID,NEAR_X,NEAR_Y,NEAR_FID,NEAR_DIST,geometry
0,Medan Amplas,Amplas,0.82,7,0.82,0,98.718111,3.546056,1063,0.000109,POINT (98.71811 3.54606)
1,Medan Amplas,Bangun Mulia,0.00,0,0.00,1,98.742250,3.532062,3539,0.000800,POINT (98.74225 3.53206)
2,Medan Amplas,Harjosari I,0.80,6,0.81,2,98.706837,3.542002,3571,0.000203,POINT (98.70684 3.54200)
3,Medan Amplas,Harjosari II,1.45,14,0.00,3,98.703785,3.535049,3425,0.000095,POINT (98.70379 3.53505)
4,Medan Amplas,Sitirejo II,0.84,10,0.00,4,98.694615,3.549385,3354,0.000204,POINT (98.69461 3.54939)
...,...,...,...,...,...,...,...,...,...,...,...
146,Medan Tuntungan,Namu Gajah,40.80,2,40.80,146,98.606860,3.511957,10037,0.000079,POINT (98.60686 3.51196)
147,Medan Tuntungan,Sidomulyo,0.98,3,0.88,147,98.610534,3.501336,10366,0.000589,POINT (98.61053 3.50134)
148,Medan Tuntungan,Simalingkar B,0.00,1,0.00,148,98.646057,3.499597,9866,0.000865,POINT (98.64606 3.49960)
149,Medan Tuntungan,Simpang Selayang,1.04,39,1.00,149,98.619833,3.528631,3215,0.000370,POINT (98.61983 3.52863)
150,Medan Tuntungan,Tanjung Selamat,1.34,20,1.34,150,98.607221,3.541987,10481,0.000100,POINT (98.60722 3.54199)

In [58]:
# Extract coordinates and attribute data
gdf_mdn['latitude'] = gdf_mdn.geometry.y
gdf_mdn['longitude'] = gdf_mdn.geometry.x

In [59]:
mdn_centroid =  gdf_mdn[['NAME_4', 'latitude', 'longitude']]
mdn_centroid.head()

         NAME_4  latitude  longitude
0        Amplas  3.546056  98.718111
1  Bangun Mulia  3.532062  98.742250
2   Harjosari I  3.542002  98.706837
3  Harjosari II  3.535049  98.703785
4   Sitirejo II  3.549385  98.694615

In [60]:
mdn_centroid = mdn_centroid.rename(columns = {
    'NAME_4':'kelurahan'
})
mdn_centroid.head()

      kelurahan  latitude  longitude
0        Amplas  3.546056  98.718111
1  Bangun Mulia  3.532062  98.742250
2   Harjosari I  3.542002  98.706837
3  Harjosari II  3.535049  98.703785
4   Sitirejo II  3.549385  98.694615

In [61]:
# Convert latitude and longitude columns to floats
mdn_centroid["latitude"] = mdn_centroid["latitude"].astype(float)
mdn_centroid["longitude"] = mdn_centroid["longitude"].astype(float)

### Get Traffic Matrix
Setiap peak hour? -> mau di tanggal berapa?
Cek dulu peak hour

In [62]:
# Replace 'YOUR_API_KEY' with your actual Google Maps API key
API_KEY = 'AIzaSyDGLUyTmSdDAXoHgSFOv0744emte1s3CNQ'

In [63]:
url = "https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix?key=AIzaSyDGLUyTmSdDAXoHgSFOv0744emte1s3CNQ"

In [64]:
# Inisialisasi list untuk menyimpan hasil
all_results = []

In [65]:
def calculate_distances(origins_df, destinations_df, departure_time):
    headers = {
        "Content-Type": "application/json",
        "X-Goog-Api-Key": "AIzaSyDGLUyTmSdDAXoHgSFOv0744emte1s3CNQ",
        "X-Goog-FieldMask": "originIndex,destinationIndex,duration,distanceMeters,status,condition"
    }

    data = {
        "origins": [],
        "destinations": [],
        "travelMode": "TWO_WHEELER",
        "routingPreference": "TRAFFIC_AWARE",
        "departureTime": departure_time # "2023-09-13T11:00:00Z"
    }

    result_data = []

    for _, origin_row in origins_df.iterrows():
        origin = {
            "waypoint": {
                "location": {
                    "latLng": {
                        "latitude": origin_row["latitude"],
                        "longitude": origin_row["longitude"]
                    }
                }
            }
        }
        data["origins"].append(origin)

    for _, dest_row in destinations_df.iterrows():
        destination = {
            "waypoint": {
                "location": {
                    "latLng": {
                        "latitude": dest_row["latitude"],
                        "longitude": dest_row["longitude"]
                    }
                }
            }
        }
        data["destinations"].append(destination)

    response = requests.post(url, json=data, headers=headers)

    if response.status_code == 200:
        result = response.json()

        for entry in result:
            originIndex = entry.get("originIndex", None)
            destinationIndex = entry.get("destinationIndex", None)
            status = entry.get("status", None)
            condition = entry.get("condition", None)
            duration = entry.get("duration", None)
            distance_meters = entry.get("distanceMeters", None)
            result_data.append({
                "originIndex": originIndex,
                "destinationIndex": destinationIndex,
                "status": status,
                "condition": condition,
                "duration": duration,
                "distanceMeters": distance_meters
            })

        result_df = pd.DataFrame(result_data)
        return result_df
    else:
        print("Error:", response.json())
        return None

13 september jam 11 (peak weekday)
16 september jam 11 (peak weekend)

In [66]:
# Split the original DataFrame into smaller DataFrames
chunk_size = 4

#### Traffic Kota Bandung

In [67]:
# Add an automatic ID column using range
mdn_centroid['ID'] = range(0, len(mdn_centroid))

In [68]:
mdn_centroid

            kelurahan  latitude  longitude   ID
0              Amplas  3.546056  98.718111    0
1        Bangun Mulia  3.532062  98.742250    1
2         Harjosari I  3.542002  98.706837    2
3        Harjosari II  3.535049  98.703785    3
4         Sitirejo II  3.549385  98.694615    4
..                ...       ...        ...  ...
146        Namu Gajah  3.511957  98.606860  146
147         Sidomulyo  3.501336  98.610534  147
148     Simalingkar B  3.499597  98.646057  148
149  Simpang Selayang  3.528631  98.619833  149
150   Tanjung Selamat  3.541987  98.607221  150

[151 rows x 4 columns]

In [69]:
origin_mdn = [mdn_centroid[i:i + chunk_size] for i in range(0, len(mdn_centroid), chunk_size)]

In [70]:
len(origin_mdn)

38

In [71]:
d = mdn_centroid
d['ID'] = range(0, len(d))

In [72]:
d

            kelurahan  latitude  longitude   ID
0              Amplas  3.546056  98.718111    0
1        Bangun Mulia  3.532062  98.742250    1
2         Harjosari I  3.542002  98.706837    2
3        Harjosari II  3.535049  98.703785    3
4         Sitirejo II  3.549385  98.694615    4
..                ...       ...        ...  ...
146        Namu Gajah  3.511957  98.606860  146
147         Sidomulyo  3.501336  98.610534  147
148     Simalingkar B  3.499597  98.646057  148
149  Simpang Selayang  3.528631  98.619833  149
150   Tanjung Selamat  3.541987  98.607221  150

[151 rows x 4 columns]

In [73]:
# Inisialisasi DataFrame kosong untuk menyimpan hasil dest_join
all_mdn = pd.DataFrame()
all_mdn2 = pd.DataFrame()

In [74]:
import time
import requests

In [75]:
# 13 september jam 11 siang
for i, o in enumerate(origin_mdn):
    # Proses chunk menggunakan fungsi process_chunk
    o['ID'] = range(0, len(o))
    print(0)
    temp = calculate_distances(o, d, "2023-09-13T11:00:00Z")
    origin_join = pd.merge(temp, o, left_on='originIndex', right_on='ID',  how='left')
    origin_join.rename(columns={'kelurahan': 'originKelurahan'}, inplace=True)
    origin_join = origin_join[[
        'originKelurahan',
        'destinationIndex',
        'duration',
        'distanceMeters'
    ]]
    dest_join = pd.merge(origin_join, d, left_on='destinationIndex', right_on='ID',  how='left')
    all_mdn= pd.concat([all_mdn, dest_join], ignore_index=True)

    # Memberikan penundaan 1 menit
    if i < len(origin_mdn) - 1:
        time.sleep(20)  # Penundaan 1 menit (60 detik)

# 16 september jam 11 siang
for i, o in enumerate(origin_mdn):
    # Proses chunk menggunakan fungsi process_chunk
    o['ID'] = range(0, len(o))
    print(0)
    temp = calculate_distances(o, d, "2023-09-16T11:00:00Z")
    origin_join = pd.merge(temp, o, left_on='originIndex', right_on='ID',  how='left')
    origin_join.rename(columns={'kelurahan': 'originKelurahan'}, inplace=True)
    origin_join = origin_join[[
        'originKelurahan',
        'destinationIndex',
        'duration',
        'distanceMeters'
    ]]
    dest_join = pd.merge(origin_join, d, left_on='destinationIndex', right_on='ID',  how='left')
    all_mdn2 = pd.concat([all_mdn2, dest_join], ignore_index=True)

    # Memberikan penundaan 1 menit
    if i < len(origin_mdn) - 1:
        time.sleep(20)  # Penundaan 1 menit (60 detik)

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

/tmp/ipykernel_704/1649835468.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o['ID'] = range(0, len(o))

0

In [76]:
all_mdn.head()

,originKelurahan,destinationIndex,duration,distanceMeters,kelurahan,latitude,longitude,ID
0,Harjosari II,3,0s,NaN,Harjosari II,3.535049,98.703785,3
1,Amplas,1,520s,3949.0,Bangun Mulia,3.532062,98.742250,1
2,Harjosari II,0,609s,3780.0,Amplas,3.546056,98.718111,0
3,Harjosari II,2,381s,1786.0,Harjosari I,3.542002,98.706837,2
4,Harjosari II,5,606s,3257.0,Sitirejo III,3.549104,98.706658,5

In [77]:
all_mdn.shape

(22801, 8)

In [78]:
all_mdn2.head()

,originKelurahan,destinationIndex,duration,distanceMeters,kelurahan,latitude,longitude,ID
0,Harjosari II,0,594s,3780.0,Amplas,3.546056,98.718111,0
1,Harjosari II,54,389s,1859.0,Suka Maju,3.538052,98.691086,54
2,Harjosari II,5,563s,3257.0,Sitirejo III,3.549104,98.706658,5
3,Harjosari II,116,1127s,8205.0,Sempakata,3.538130,98.636090,116
4,Harjosari I,2,0s,NaN,Harjosari I,3.542002,98.706837,2

In [79]:
all_mdn2.shape

(22801, 8)

In [80]:
mdn_13sept = all_mdn[['originKelurahan', 'duration','distanceMeters','kelurahan']]

In [81]:
# Mengganti nama kolom 'Nama' menjadi 'Nama Lengkap' dan 'Usia' menjadi 'Umur'
mdn_13sept = mdn_13sept.rename(columns={'kelurahan': 'destinationKelurahan'})

In [89]:
mdn_13sept.shape

(22801, 4)

In [83]:
# Export data 13 september jam 11
excel_filename = "../data/traffic/mdn-13sept11.xlsx"  # Choose a suitable filename
mdn_13sept.to_excel(excel_filename, index=False)

In [84]:
mdn_16sept = all_mdn2[['originKelurahan', 'duration','distanceMeters','kelurahan']]

In [86]:
# Mengganti nama kolom 'Nama' menjadi 'Nama Lengkap' dan 'Usia' menjadi 'Umur'
mdn_16sept = mdn_16sept.rename(columns={'kelurahan': 'destinationKelurahan'})

In [87]:
mdn_16sept.head()

  originKelurahan duration  distanceMeters destinationKelurahan
0    Harjosari II     594s          3780.0               Amplas
1    Harjosari II     389s          1859.0            Suka Maju
2    Harjosari II     563s          3257.0         Sitirejo III
3    Harjosari II    1127s          8205.0            Sempakata
4     Harjosari I       0s             NaN          Harjosari I

In [88]:
# Export data 13 september jam 11
excel_filename = "../data/traffic/mdn-16sept11.xlsx"  # Choose a suitable filename
mdn_16sept.to_excel(excel_filename, index=False)